  body{
      margin: 0px;
    font-family: 'Oswald', sans-serif;
}
.name-hightlight{
    color: hotpink;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, orange );
    border-radius: 5px;
    padding: 5px 25px;
    color: white;
    font-weight: 700;
}
